@{
    ViewBag.Title = "Error Page";
}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainer"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {

            var dateData = @Html.Raw(Json.Serialize(ViewBag.DateData));
            var countData = @Html.Raw(Json.Serialize(ViewBag.CountData));

            console.log('countData', countData);

            if (dateData && dateData.length > 0 && countData && countData.length > 0) {

                var dataPoints = [];
                for (var i = 0; i < dateData.length; i++) {

                    dataPoints.push({ label: dateData[i], y: countData[i] });
                }
                console.log('dataPoints', dataPoints);
                var chart = new CanvasJS.Chart("chartContainer", {
                    width: 600,
                    height: 400,
                    theme: "light2",
                    animationEnabled: true,
                    title: {
                        text: "Error Count"
                    },
                    axisX: {
                        title: "Date",
                        labelFontSize: 10

                    },
                    axisY: {
                        title: "Error Count",
                        labelFontSize: 10
                    },
                    data: [
                        {
                            type: "column",
                            dataPoints: dataPoints
                        }
                    ]
                });
                chart.render();
            }
            else {
                console.error("PageUrlData or CountData is null or empty.");
            }
        });
    </script>
}
