@{
    ViewBag.Title = "Page URL vs Count";
}

<script src="https://canvasjs.com/assets/script/canvasjs.min.js"></script>
<div id="chartContainer"></div>

@section Scripts {
    <script>
        document.addEventListener("DOMContentLoaded", function () {
           
            var pageUrlData = @Html.Raw(Json.Serialize(ViewBag.PageUrlData));
            var countData = @Html.Raw(Json.Serialize(ViewBag.CountData));

            console.log('countData', countData);
            
            if (pageUrlData && pageUrlData.length > 0 && countData && countData.length > 0) {
                
                var dataPoints = [];
                for (var i = 0; i < pageUrlData.length; i++) {

                    //var customLabel = getCustomLabel(pageUrlData[i]);
                    dataPoints.push({ label: pageUrlData[i], y: countData[i] });
                }
                console.log('dataPoints', dataPoints);
                var chart = new CanvasJS.Chart("chartContainer", {
                    width: 600,
                    height: 400,
                    theme: "light2",
                    animationEnabled: true,
                    title: {
                        text: "Page URL vs Count"
                    },
                    axisX: {
                        title: "Page URL"
                    },
                    axisY: {
                        title: "Count"
                    },
                    data: [
                        {
                            type: "column",
                            dataPoints: dataPoints
                        }
                    ]
                });
                chart.render();
            } 
            else {
                console.error("PageUrlData or CountData is null or empty.");
            }
            // function getCustomLabel(originalLabel) {

            //     if (originalLabel === "http://localhost:24019/") {
            //         return "Homee";
            //     } 
            //     else if (originalLabel === "http://localhost:24019/ProductList") {
            //         return "Product List";
            //     }
            //     else if (originalLabel === "http://localhost:24019/Checkout/CheckoutError?ErrorCode=10002&Desc=Authentication/Authorization%20Failed&Desc2=You%20do%20not%20have%20permissions%20to%20make%20this%20API%20call") {
            //         return "Checkout";
            //     }
            //     else if (originalLabel === "http://localhost:24019/ShoppingCart") {
            //         return "Shopping Cart";
            //     } 
            //     else {
            //         return originalLabel; 
            //     }
            //}
        });
    </script>
}
